body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            
        }
        .profile-container {
            background-color: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            /* max-width: 50vw; */
            width: 45%;
        }
        .profile-body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80vw;
        }
        
        h1, h2 {
            color: #333;
        }
        .profile-img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
            margin-top: 10px;
            border: 4px solid #ddd;
        }
        .profile-info {
            margin: 20px 0;
        }
        .download-btn {
            display: inline-block;
            margin-top: 10px;
            padding: 12px 24px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
        }
        .download-btn:hover {
            background-color: #0056b3;
        }
        nav a {
            text-decoration: none;
            color: #007bff;
            font-weight: bold;
        }
        nav a:hover {
            text-decoration: underline;
        }